body, button {
    margin: 0;
    background-color: rgb(63 116 67);
    font-family: "Press Start 2P", "consolas", "sans-serif";
}

.container {
    background-color: rgb(56 96 56);
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: transitionPadding 3.5s;
    animation-timing-function: cubic-bezier(0, 0.44, 0.1, 1.01);
}

@keyframes transitionPadding {
    0%   { padding-bottom: 100%; }
    66%  { padding-bottom: 100%; }
    100% { padding-bottom: 0%;   }
  }

.container h1 {
    position: relative;
    color: rgb(220 233 108);
    font-weight: 900;
    margin-top: 35px;
    margin-bottom: 0px;
    white-space: nowrap;
}

.container h1::after {
    content: "-";
    padding: 1px;
    position: absolute;
    right: 0;
    color: rgb(56 96 56);
    background-color: rgb(56 96 56);
    width: 100%;
    scale: 1 1.2;
    animation: typing 1.5s steps(19) forwards;
}

@keyframes typing{
    to{
        width: 0%;
    }
}

.container h2 {
    position: relative;
    color: rgb(220 233 108);
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 10px;
    white-space: nowrap;
}

.container h2::after {
    content: "-";
    padding: 1px;
    position: absolute;
    right: 0;
    color: rgb(56 96 56);
    background-color: rgb(56 96 56);
    width: 100%;
    scale: 1 1.2;
    animation: typing 1.5s steps(17) forwards;
    animation-delay: 1.5s;
}

.options {
    display: flex;
    align-items: center;
    height: 170px;
    margin: 35px;
    gap: 30px;
    animation: fadeIn 4.5s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    66% { opacity: 0; }
    100% { opacity: 1; }
  }

.options button {
    color: rgb(192 221 136);
    font-size: 20px;
    background-color: #6fa55e;
    border-radius: 5px;
    border: 2px solid;
    width: 180px;
    height: 130px;
    transition: 0.25s;
}

button:hover {
    color: rgb(220 233 108);
    font-size: 26px;
    background-color: #92c981;
    border: 4px solid;
    width: 200px;
    height: 150px;
}

.result-container {
    color:#aebf67;
    margin-bottom: 20px;
}

.score-container {
    width: 100%;
    padding: 10px;
    text-align: center;
    color: #c0dd88;
    background-color: #6fa55e;
    animation: fadeIn 5.5s;
}

.score-container p {
    margin-top: 0px;
    margin-bottom: 5px;
}

.score-container .score {
    margin-top: 10px;
    margin-bottom: 0px;
}

.screen {
    display: flex;
    justify-content: center;
    gap: 210px;
    margin-top: 15px;
}

.userHP, .compHP {
    position: relative;
    background-color: #659762;
    border-radius: 4px;
    width: 200px;
    height: 15px;
}

.userHP .userhp-progress, .compHP .comphp-progress{
    position: absolute;
    background-color: #15d715;
    border-radius: 4px;
    height: 100%;
    width: 100%;
}

.userIcon, .compIcon {
    width: 200px;
    height: 250px;
    background-color: rgb(111, 221, 221);
    margin-top: 90px;
}

.user {
    animation: userAnimation 5s forwards;
    animation-timing-function: cubic-bezier(0.79, 0.01, 0.13, 0.99);
}

@keyframes userAnimation {
    0% { translate: -100vw 0px; scale: 1;}
    50% { translate: -100vw 0px; scale: 1;}
    100% { translate: -20px 50px; scale: 1.1;}
  }

.comp {
    animation: compAnimation 5s forwards;
    animation-timing-function: cubic-bezier(0.79, 0.01, 0.13, 0.99);
}

@keyframes compAnimation {
    0% { translate: 100vw 0px; scale: 1;}
    50% { translate: 100vw 0px; scale: 1;}
    100% { translate: 40px -10px; scale: 0.9;}
  }

@keyframes flashIcon {
    0%   {background-color: rgb(111 221 221); translate: 0px 0px;}
    5%   {background-color: rgb(209, 64, 64); translate: 10px 10px;}
    10%  {background-color: rgb(111 221 221); translate: -9px -9px;}
    15%  {background-color: rgb(209, 64, 64); translate: -7px 7px;}
    25%  {background-color: rgb(111 221 221); translate: 5px -5px;}
    35%  {background-color: rgb(209, 64, 64); translate: 3px -3px;}
    45%  {background-color: rgb(111 221 221); translate: -1px -1px;}
    75%  {background-color: rgb(111 221 221); translate: 1px 1px;}
    100% {background-color: rgb(111 221 221); translate: 0px 0px;}
  }

@keyframes compAttack {
    0%    { translate: 0px 0px; animation-timing-function: linear;}
    50%    { translate: 0px 0px; animation-timing-function: cubic-bezier(0.05, 1.14, 1, 1);}
    65%   { translate: 20px -10px; animation-timing-function: cubic-bezier(0.59, 0.01, 0.18, 1.57);}
    85%   { translate: -100px 20px; animation-timing-function: cubic-bezier(0.19, -0.41, 0, 1.38);}
    100%  { translate: 0px 0px; animation-timing-function: linear;}
  }

@keyframes userAttack {
    0%    { translate: 0px 0px; animation-timing-function: linear;}
    50%    { translate: 0px 0px; animation-timing-function: cubic-bezier(0.05, 1.14, 1, 1);}
    65%   { translate: -20px 10px; animation-timing-function: cubic-bezier(0.59, 0.01, 0.18, 1.57);}
    85%   { translate: 100px -20px; animation-timing-function: cubic-bezier(0.19, -0.41, 0, 1.38);}
    100%  { translate: 0px 0px; animation-timing-function: linear;}
  }

  /* FadeOutLoss 3s cubic-bezier(0.19, 0, 0, 0.99) */

  @keyframes FadeOutUser {
    0%    { translate: -20px 50px; scale: 1.1; opacity: 1;}
    100%  { translate: -20px 300px; scale: 1.1; opacity: 0;}
  }

  @keyframes FadeOutComp {
    0%    { translate: 40px -10px; scale: 0.9; opacity: 1;}
    100%  { translate: 40px 300px; scale: 0.9; opacity: 0;}
  }
  